/*********************
	html reset 
*********************/
html, body, tbody, table, th, td, ul, ol, li, input, textarea, select, option {
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 12px;
	color: #2E2E2E;
	font-weight: 400;
}
html {
	height: 100%;
}
body {
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	background: white;
	margin: 0px;
	padding: 0px;
}
a:link, 
a:visited, 
a:active {
	color: #3b5989;
	color: #2E2E2E;
	text-decoration: none;
	}
a:hover {
	color: red;
	color: #2E2E2E;
}
a:focus {
    outline: none;
}
table {
	border-collapse: collapse;
	white-space: nowrap;
}
code, 
pre { 
	font-family: Consolas, Monaco, "Courier New", Courier, monospace; 
	font-family: 'Droid Sans Mono', Courier;

	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; 
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
p, 
span {
	margin: 0px;
	padding: 0px;
}
body {	
	background: #E6EAEF;	
}
div {
    white-space: normal;
}
hr {
	height: 0px;
	border-top: 1px solid white;
}
h4 {
	margin: 3px;
}
img,
img a {
	border: none;
	border-width: 0px;
}
dd {
	padding: 0px;
	margin: 0px;
}


/********************
	input styling
********************/
input.search {
    border: 1px solid silver;
    margin: 0px;
    padding: 0px 5px;
    background: #E6EAEF;
    
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;	
}
input {
	-webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	border-radius:         4px;	
}
input[type=text], 
input[type=password] {
    border: 1px solid silver;
    margin: 0px;
    padding: 2px 5px;    
}
input[type=submit], 
input[type=button] {
    padding: 2px 15px;
    
    background: #A0001B;
    color: white;
    border: 1px solid #293339;
    text-shadow: 1px 1px 1px black;
    
    cursor: pointer;
	
	background: rgb(169,3,41);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);

}
input[type=submit]:hover, 
input[type=button]:hover {

	background: rgb(109,0,25); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* W3C */

}


/********************
 normal table template
********************/
div.normalTable {
	border: 1px solid rgba(64, 64, 64, 0.1);
	
	border: 1px solid white !important;
	
	background: #e0e1e2;	/* for non-rgba browsers */
	background: rgba(64, 64, 64, 0.05);
	color: #3F3F3F;
	
	padding: 3px 0px;
	margin-top: 5px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
    box-shadow:			1px 3px 3px rgba(64,64,64,0.2);
    -webkit-box-shadow: 1px 3px 3px rgba(64,64,64,0.2);
    -moz-box-shadow: 	1px 3px 3px rgba(64,64,64,0.2);	
}
table.normalTable {
    width: 100%;
}
table.normalTable th, 
table.normalTable td {
	padding: 1px 10px 1px 10px;
	text-align: left;
	vertical-align: middle;    
}
table.normalTable tr.th {
	border: none;
}
table.normalTable th {
	text-shadow: 1px 1px 2px white;
	border-bottom: 1px solid white;	
	
	font-weight: bold;
	
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.9)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);

	padding: 5px;
	
	border-bottom: 2px solid white;
}
table.normalTable tr.add {
	border-top: 1px solid rgba(255,255,255,0.2);
}
table.normalTable tr:lastChild {
    border-bottom: none;
}
table.normalTable tr td {
    padding: 3px 5px;
}
table.normalTable tr.selected,
table.normalTable tr.selected:hover,
table.subSlaves tr.selected:nth-child(1) {

	background: #40464A;
	background: rgb(79,80,82);
	background: -moz-linear-gradient(top,  rgba(79,80,82,1) 0%, rgba(17,17,17,1) 97%, rgba(79,80,82,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,80,82,1)), color-stop(97%,rgba(17,17,17,1)), color-stop(100%,rgba(79,80,82,1)));
	background: -webkit-linear-gradient(top,  rgba(79,80,82,1) 0%,rgba(17,17,17,1) 97%,rgba(79,80,82,1) 100%);
	background: -o-linear-gradient(top,  rgba(79,80,82,1) 0%,rgba(17,17,17,1) 97%,rgba(79,80,82,1) 100%);
	background: -ms-linear-gradient(top,  rgba(79,80,82,1) 0%,rgba(17,17,17,1) 97%,rgba(79,80,82,1) 100%);
	background: linear-gradient(top,  rgba(79,80,82,1) 0%,rgba(17,17,17,1) 97%,rgba(79,80,82,1) 100%);

}
table.normalTable tr.selected td, 
table.normalTable tr.selected td a {
	color: white;
}
table.normalTable td.info, 
table.normalTable td.info a,
table.normalTable td.info ul li {
    color: #999;
    text-shadow: 1px 1px 2px white;
    font-size: 11px;
}
table.normalTable td.submit {
    text-align: right;
}
table.normalTable tr:hover {
	background: #dbdde0;	/* non-rgba browsers */
	background: transparent -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.0))) no-repeat;
	background: transparent -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.1));


	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.24) 4%, rgba(255,255,255,0.05) 5%, rgba(255,255,255,0.3) 6%, rgba(255,255,255,0.3) 94%, rgba(255,255,255,0.15) 95%, rgba(255,255,255,0.32) 96%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(255,255,255,0.24)), color-stop(5%,rgba(255,255,255,0.05)), color-stop(6%,rgba(255,255,255,0.3)), color-stop(94%,rgba(255,255,255,0.3)), color-stop(95%,rgba(255,255,255,0.15)), color-stop(96%,rgba(255,255,255,0.32)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 4%,rgba(255,255,255,0.05) 5%,rgba(255,255,255,0.3) 6%,rgba(255,255,255,0.3) 94%,rgba(255,255,255,0.15) 95%,rgba(255,255,255,0.32) 96%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 4%,rgba(255,255,255,0.05) 5%,rgba(255,255,255,0.3) 6%,rgba(255,255,255,0.3) 94%,rgba(255,255,255,0.15) 95%,rgba(255,255,255,0.32) 96%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 4%,rgba(255,255,255,0.05) 5%,rgba(255,255,255,0.3) 6%,rgba(255,255,255,0.3) 94%,rgba(255,255,255,0.15) 95%,rgba(255,255,255,0.32) 96%,rgba(255,255,255,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.24) 4%,rgba(255,255,255,0.05) 5%,rgba(255,255,255,0.3) 6%,rgba(255,255,255,0.3) 94%,rgba(255,255,255,0.15) 95%,rgba(255,255,255,0.32) 96%,rgba(255,255,255,1) 100%);

}
table.normalTable tr:hover td {
/*
	border-top:    1px solid white;
	border-bottom: 1px solid white;
*/
}
table.normalTable tr.th:hover {
	background: transparent;
}
table.normalTable tr:hover td.info, 
table.normalTable tr:hover td.info a,
table.normalTable tr:hover td.info ul li {
    color: #2E2E2E;
    text-shadow: none;
    font-style: normal;
}
table.normalTable td.edit,
table.normalTable td.mail,
table.normalTable td.delete {
    width: 10px;
}



/********************
	site header
********************/
div.header {
	text-align: center;
	background: #464646;
	
	background: rgb(41,51,57);
	background: -moz-linear-gradient(top,  rgba(41,51,57,1) 0%, rgba(29,36,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,51,57,1)), color-stop(100%,rgba(29,36,41,1)));
	background: -webkit-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	
	padding: 10px;
	padding-top: 25px;
	
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 32px;
	color: white;
	text-shadow: black 2px 2px 2px;
	white-space: nowrap;
	
	border-top: 1px solid black;
	border-bottom: 1px solid silver;
}
div.header a {
    color: white;
}


/********************
	home page
********************/
div.home h3 {
    padding: 5px;
    border: 1px solid white;
    
    background: transparent -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.0))) no-repeat;
	background: transparent -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
	
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
    box-shadow:			0px 3px 3px silver;
    -webkit-box-shadow: 0px 3px 3px silver;
    -moz-box-shadow: 	0px 3px 3px silver;
}
th.homeTitle {
	color: #3e576f;
}
div.homeTable table.homeTable tr.hover {
	background: !important red;
}
div.homeStats {
	position: relative;
	
	margin-top: 0px;
	
	border: 2px solid rgba(64,64,64,0.2) !important;
	
	background: none;
	background: white;
	
	box-shadow: 		none;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
}
table.homeStats {
	width: 50%;
}
table.homeStats td {
	padding: 5px;
	font-weight: bold;
}
table.homeStats td.title {
	font-style: italic;
	font-weight: normal;
	text-shadow: 1px 1px 2px white;
}
div.homeStats input[type=button] {
	border: 1px solid silver;
	cursor: pointer;
	color: black;
	
	text-shadow: none;

	background: #f6f8f9; /* Old browsers */

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 45%, rgba(211,211,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(45%,rgba(243,243,243,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* W3C */

}
div.homeStats input[type=button]:hover {
	background: #f6f6f6;
}
table.homeStats td input[type=text] {
	width: 120px !important;
}
span.jclock {
	float: right;
}

/********************
	user menu
********************/
div.user_menu {
	position: absolute;
	right: 0px;
	top: 0px;
}
ul.topNav {
	list-style: none;
	float: right;
	margin: 0px;
	margin-top: 5px;
}
ul.topNav li {
    color: silver;
	float: left;
	padding: 0px 10px;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	border-left: 1px solid silver;
	white-space: nowrap;
    
    color: #F0F0F0;
    
    cursor: pointer;
}
ul.topNav li:nth-child(1) {
    border-left: none;
}
ul.topNav li a {
    border: none;
    padding: 0px;
    color: silver;
    
    color: #F0F0F0;
}
ul.topNav li a:hover,
ul.topNav li:hover {
    color: #A0001B;
}
ul.topNav li ul.subNav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	right: 0px;
	margin: 0; 
	padding: 0;
	display: none;
	border: none;
	border: 1px solid gray;
	background: rgba(36,45,50,0.7);
}
ul.topNav li ul.subNav li {
	z-index: 1;
	font-weight: normal;
	margin: 0; 
	padding: 3px 10px;
	clear: both;
	border: none;
	float: right;
}
ul.topNav li input {
	margin: 0px;
}


/********************
	site sections
********************/
div.wrapper,
div.footer {
	min-width: 1024px;
}
div.sections_overlay {
	background: #CEE3F6;
	background: #40464a;
	
	box-shadow:			0px 3px 3px silver;
    -webkit-box-shadow: 0px 3px 3px silver;
    -moz-box-shadow: 	0px 3px 3px silver;
}
div.sections {	
	max-width: 1024px;
	margin: auto;
	border: none;
	
	position: relative;
	
}
table.newSections {
	width: 100%;
}
table.newSections td#sections {
	width: auto;
	vertical-align: middle;
	padding: 0px;
	white-space: normal;
}
table.newSections ul {
	margin: auto;
	background: white;
	margin-left: 0px;
	padding-left: 10px;
}
table.newSections ul li {
	float: left;
	list-style-type: none;
	padding: 5px 15px;

	text-align: center;
	vertical-align: middle;
	
	border: 1px solid transparent;
	
	font-weight: 600;
	-webkit-text-stroke: 0.1px #000000;
	min-width: 60px;
	
	text-shadow: 1px 1px 1px black;

    -webkit-border-radius: 	2px;
	-moz-border-radius: 	2px;
	border-radius: 			2px;
	
	color: silver;
	cursor: pointer;	
}
table.newSections td.tools {
	cursor: pointer;
	
	width: 50px;

	vertical-align: text-top;

	border-left:  !important 1px solid transparent;
	border-right: !important 1px solid transparent;
	
	color: white;

	background: rgb(41,51,57);
	background: -moz-linear-gradient(top,  rgba(41,51,57,1) 0%, rgba(29,36,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,51,57,1)), color-stop(100%,rgba(29,36,41,1)));
	background: -webkit-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
}
table.newSections td.tools:hover {
	background: rgb(29,36,41);
	background: -moz-linear-gradient(top,  rgba(29,36,41,1) 0%, rgba(41,51,57,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,36,41,1)), color-stop(100%,rgba(41,51,57,1)));
	background: -webkit-linear-gradient(top,  rgba(29,36,41,1) 0%,rgba(41,51,57,1) 100%);
	background: -o-linear-gradient(top,  rgba(29,36,41,1) 0%,rgba(41,51,57,1) 100%);
	background: -ms-linear-gradient(top,  rgba(29,36,41,1) 0%,rgba(41,51,57,1) 100%);
	background: linear-gradient(top,  rgba(29,36,41,1) 0%,rgba(41,51,57,1) 100%);
}
table.newSections td#instructions {
	width: 10px;
	padding-right: 5px;
	padding-top: 2px;
	cursor: pointer;
	vertical-align: top;
}
table.newSections td.tools,
table.newSections td#Administration {
	padding: 5px 10px 0px 5px;
	white-space: nowrap;

	vertical-align: text-top;

	clear: both;
}
table.newSections td.tools img,
table.newSections td#Administration img {
	float: left;
}
table.newSections td#Administration {
	color: white;
	
	width: 10px;
	width: 105px;

	background: #a0001b;
	border-left: 1px solid #293339;
	border-right: 1px solid #293339;
	
	border-left:  !important 1px solid transparent;
	border-right: !important 1px solid transparent;
	
	cursor: pointer;

	background: rgb(169,3,41);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
}
table.newSections td#Administration:hover {
	background: rgb(109,0,25);
	background: -moz-linear-gradient(top,  rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1)));
	background: -webkit-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
	background: linear-gradient(top,  rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%);
}
table.newSections ul li:hover, 
table.newSections ul li.active {
	background: #293339;	/* browsers without transparence support */
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from( rgba(41,51,57,0.1) ), to(#293339)) no-repeat;
	background: -moz-linear-gradient(top, #293339, rgba(41,51,57,0.1) );
	
	color: white;	
}
table.newSections ul li.active {

	background: rgb(41,51,57);
	background: -moz-linear-gradient(top,  rgba(41,51,57,1) 0%, rgba(29,36,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,51,57,1)), color-stop(100%,rgba(29,36,41,1)));
	background: -webkit-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);

	border: 1px solid rgba(192,192,192,0.4);
	color: white;
}
table.requestedIPaddresses img {
	cursor: pointer;
}
table.settings td {
	vertical-align: middle !important;
}
table.settings td.title {
	width: 50px;
}
table.settings td:nth-child(2) {
	width: 10px;
}
table.settings td.info {
	font-style: italic;
	white-space: normal;
	font-size: 12px;
}
table.settings td.submit {
	text-align: right;
}
table.settings input[type=text] {
	padding: 5px;
}
div.settingsEdit {
	display: none;
}
/* Admin dropdown menu */
div.toolsMenuDropdown,
div.adminMenuDropdown {
	position: absolute;
	float: right;
	
	right: 0px;
	margin-top: 2px;

	border: 1px solid #151515;

	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
	
		
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 	0 1px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 		0 1px 10px rgba(0, 0, 0, 0.4);

	min-width: 150px;
	z-index: 99999;

	background: rgb(41,51,57);	
	background: -moz-linear-gradient(top,  rgba(29,36,41,0.9) 0%, rgba(41,51,57,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,36,41,0.9)), color-stop(100%,rgba(41,51,57,0.7)));
	background: -webkit-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	
	display: none;
	overflow: hidden;
}
div.toolsMenuDropdown {
	right: 43px;
}
div.toolsMenuDropdown dd,
div.adminMenuDropdown dd {
	width: 100%;
	padding: 5px 15px;
	text-align: left;
	margin: 0px;
	color: #ececec;
	cursor: pointer;	
}
div.toolsMenuDropdown dd:hover,
div.adminMenuDropdown dd:hover {

	background: rgb(41,51,57);
	background: -moz-linear-gradient(top,  rgba(41,51,57,1) 0%, rgba(29,36,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,51,57,1)), color-stop(100%,rgba(29,36,41,1)));
	background: -webkit-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
}



/********************
	site content
********************/
div.content {
	display: none;
}
div.content_overlay {
	margin: auto;
	width: 1024px;
	position: relative;
}
table.content {
	width: 100%;
}
table.content td {
	padding: 10px;
	vertical-align: top;
}
table.content td#subnets {
	padding-left: 0px;
	width: 150px;
}


/********************
	subnets table
	+
	admin table
********************/
div.subnets {
    display: none;
}
div#showHiddenSubnets {
	height: 15px;
	width: 15px;
	position: absolute;
	background: url(images/forward.png) center no-repeat;
	top: 23px;
	left: 3px;
	
	display: none;
}
div#showHiddenSubnets:hover {
	background: url(images/forwardHover.png) center no-repeat;
}
table.subnets {
    width: 100%;
}
table.subnets td, 
table.admin td {
	padding: 3px;
	cursor: pointer;
}
table.admin tr.th td {
	cursor: default;
}
table.subnets dd {
	margin-left: 0px;
}
table.subnets td.subnet {
/* 	min-width: 130px; */
	text-align: left;
}
table.subnets tr.th {
	background: none;
}
table.subnets dd {
	cursor: pointer;
}
table.subnets tr.selected td, 
table.subnets tr.selected td dd, 
table.admin tr.selected td, 
table.admin tr.selected td dd {
	font-weight: bold;
	color: white;
}
table.admin tr.selected,
table.admin tr.selected:hover,
table.subSlaves tr.selected:nth-child(1) {
/*

	background: #40464A;
	
	border-bottom: 1px solid white;
	border-top:    1px solid white;

	background: -moz-linear-gradient(top,  rgba(29,36,41,0.9) 0%, rgba(41,51,57,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,36,41,0.9)), color-stop(100%,rgba(41,51,57,0.7)));
	background: -webkit-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
*/
}
table.subnets tr.info {
    border-top: 1px solid rgba(64, 64, 64, 0.05);
}
table.subnets tr.info td {
    text-align: right;
    color: white !important;
    text-shadow: 1px 1px 1px white;
    
    color: #999999 !important;
	font-size: 11px;
	text-shadow: 1px 1px 1px white;
}
table.subnets tr:hover td.structure,
table.subnets td.structure {
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	vertical-align: bottom;
	width: 10px;
}
table.subnets td.structure img {
	float: right;
}
table.subnets img {
	cursor: pointer;
}
table.subnets td.slaveSubnets {
	padding: 0px;
}
table.subnets td.slaveSubnets tr.selected td dd {
	font-weight: normal;
}
table.subSlaves td {
	padding-left: 50px !important;
}
table.slaves {
	background: url(images/slaveBG.png) repeat-y;
}
table.slaves td {
	background: url(images/slaveTdBG.png) no-repeat;
}
table.subSlaves {
	background: url(images/subSlaveBG.png) repeat-y;
}
/*
table.slaves.subSlaves td {
	background: none;
}
*/

table.subSlaves td {
	background: url(images/subSlaveTdBG.png) no-repeat;
}
table.subSlaves tr:nth-child(1) {
	background: url(images/subSlaveTdBGFirst.png) no-repeat;
}
table.subnets tr.info td {
	text-align: right;
}
table.subnets td.subnet {
	padding-left: 10px;
}
table.subnets td.plusSubnet,
table.subnets td.plusSubnet:hover {
	background-position-y: 2px;
	background-position-x: 0px;
	width: 10px;
	background-repeat: no-repeat;
}
table.subnets td.plusSubnet {
	background-image: url(images/add.png);
}
table.subnets td.plusSubnet:hover {
	background-image: url(images/addHover.png);
}

div.slaveSubnets {
	display: none;
	padding-bottom: 5px;
}
div.subSlaveSubnets {
	display: none;
}
table.slaves td {
	color: #666;
/* 	text-shadow: 1px 1px 2px white; */
}
table.slaves td.subnet {
	padding-left: 30px;
}
table.slaves td.dot {
	padding: 3px;
	padding-right: 0px;
	color: white;
}
table.slaves tr.selected td {
	font-weight: normal;
}



/********************
  ip address table
********************/
div.ipaddresses {
	padding: 5px 10px 5px 10px;
}
table.ipaddress_subnet {
	width: 100%;
}
table.ipaddress_subnet tr td {
	vertical-align: top;
}
table.ipaddress_subnet td, 
table.ipaddress_subnet th {
	padding: 1px 10px 1px 10px;
	text-align: left;
	vertical-align: top;
}
table.ipaddress_subnet tr td,
table.ipaddress_subnet tr th {
	/* height: 10px; */	/* old browser fix */
}
table.ipaddress_subnet tr.info td {
	height: auto;	/* old browser fix */
	vertical-align: top;
}
table.ipaddress_subnet img {
	cursor: pointer;
}



table.ipaddresses td.ipaddress, 
table.ipaddress_subnet th:nth-child(1) {
	width: 80px;
	text-align: right;
	padding-left: 10px;
}
table.ipaddresses tr td.ipaddress {
	padding-right: 15px;
}
table.ipaddresses td.hostname {
	width: 80px;
}
able.ipaddresses td.description {
	width: auto;
}
table.ipaddresses td.mac {
	padding: 0px;
	width: 1px;
}
table.ipaddresses td.mac img {
	margin-top: 2px;
}
table.ipaddresses th, 
table.ipaddress_subnet th {
	text-shadow: 1px 1px 2px white;
}
table.ipaddress_subnet div.addnew {
	display: none;
}
table.ipaddress_subnet div.addnew img {
	margin-top: 2px;
}
table.ipaddress_subnet div.mail {
	background: rgba(255,255,255, 0.2);
	
	background: -moz-linear-gradient(top, rgba(219,240,246,0.6) 0%, rgba(197,232,241,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,240,246,0.6)), color-stop(100%,rgba(197,232,241,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(219,240,246,0.6) 0%,rgba(197,232,241,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(219,240,246,0.6) 0%,rgba(197,232,241,0.6) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(219,240,246,0.6) 0%,rgba(197,232,241,0.6) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(219,240,246,0.6) 0%,rgba(197,232,241,0.6) 100%); /* W3C */
	
}
table.ipaddress_subnet div.edit_subnet {
	display: none;
}
table.ipaddress_subnet div.edit_subnet table td {
	white-space: normal;
}
table.ipaddress_subnet div.edit_subnet table td:nth-child(2) {
	white-space: nowrap;		/* for buttons */
}
table.ipaddress_subnet th {
	border-bottom-width: 1px;
}
table.ipaddresses td.edit, 
table.ipaddresses td.delete {
	width: 10px;
	padding: 3px;
	text-align: center;
}
table.ipaddresses th.vlan {
	width: 10px;
}
table.ipaddresses td.unused, 
table.ipaddresses td.resolved,
table.ipaddresses td.ipstate {
	color: #999999;
	font-style: italic;
	font-size: 11px;
	text-shadow: 1px 1px 1px white;
}
table.ipaddresses tr.th td,
table.ipaddresses tr.th:hover td {
	border-top:    1px solid #dee1e6;
	border-bottom: 1px solid #dee1e6;
}
table.ipaddresses td.ipstate {
	width: 5px;
}
table.ipaddresses tr.offline td.description,
table.ipaddresses tr.reserved td.description {
/* 	font-style: italic; */
}
table.ipaddresses tr.offline td.ipaddress {
	text-decoration: line-through;
}
table.ipaddresses td.ipaddress {
    text-align: left;
    padding-left: 15px;
    padding-right: 0px;
}
table.ipaddress_subnet tr.info:hover td {
	color: #2E2E2E;
}
table.ipaddress_subnet tr.info td {
	color: #999999;
	text-shadow: 1px 1px 1px white;
	font-size: 11px;
	vertical-align: top;
}
table.ipaddress_subnet tr.info td img {
    float: right;
}
table.ipaddresses img {
	cursor: pointer;
}


div.addnew {
	color: #3F3F3F;
	
	min-width: 300px;
	
	padding: 3px;
	margin-top: 5px;
	
	background: rgba(255, 0, 0, 0.046875);
	
	background: rgb(245,236,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(245,236,238,1) 0%, rgba(244,222,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,236,238,1)), color-stop(100%,rgba(244,222,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(245,236,238,1) 0%,rgba(244,222,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(245,236,238,1) 0%,rgba(244,222,227,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(245,236,238,1) 0%,rgba(244,222,227,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(245,236,238,1) 0%,rgba(244,222,227,1) 100%); /* W3C */
	
	border: 1px solid #C0D0D5;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
div.delete_ipaddress {
	background: red;
}
div.addnew_check {
	display: none;
}

table#mailNotify th {
	text-align: left;
}
table#mailNotify tr:hover {
	background: transparent !important;
}
table#mailNotify td.info {
	color: gray;
	text-shadow: 1px 1px 2px white;
	font-style: italic;
	text-align: right;
}
table#mailNotify td.mailsubmit {
	text-align: right;
}
table#mailNotify textarea {
	border: 1px solid silver;
	padding: 5px;

	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
}
div.csvImportOverlay {
	padding: 5px;
}
div.csvImportOverlay h3 {
	margin: 0px;
	margin-bottom: 3px;
}

/*******************
 add / edit IP address
*******************/
table.editipaddress {
	margin: auto;
}
table.editipaddress td:nth-child(1), 
table.editipaddress th:nth-child(1) {
	padding: 5px;
}
table.editipaddress input[type=text],
table.editipaddress textarea {
	border: 1px solid silver;
	background: white;
	padding: 3px;
}
table.editipaddress tr.note td.note {
	padding-left: 8px;
}
table.editipaddress textarea {
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
	
	margin: 0px;
}
table.editipaddress th:nth-child(1) {
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid white;
}

/* slaves */
table.slaveSubnet tr.dashed {
	border-bottom: 1px dotted white;
}
table.slaveSubnet tr.dashed td {
	text-shadow: 1px 1px 1px white;
	color: #444;
}
table.slaveSubnet tr.dashed:hover {
	background: none;
}
table.slaveSubnet tr {
	cursor: pointer;
}
table.slaveSubnet dd {
	text-align: left;
}
table.slaveSubnet td:nth-child(1) {
	width: 80px;
}
table.slaveSubnet td:nth-child(2) {
	width: 330px;
}
table.slaveSubnet td:nth-child(4),
table.slaveSubnet td:nth-child(5) {
	color: #888;
}
table.slaveSubnet td.lock,
table.slaveSubnet td.nolock {
	width: 16px;
	padding: 0px;
}
table.slaveSubnet td.lock {
	background-image: url(images/lock.png);
	background-repeat: no-repeat;
	background-position-x: 20px;
}
table.slaveSubnet td.allowRequests {
	padding: 3px 5px;
	text-align: center;
	width: 10px;
}



/*******************
  admin pages
*******************/
table.admin td {
	padding: 3px;
}
table.admin td {
	min-width: 130px;
	text-align: right;
	padding-right: 0px;
    padding-right: 5px;
}
table.admin tr.th:hover {
	background: transparent;
}
table.admin th {
	text-align: right;
	padding: 3px;
	white-space: nowrap;
	border-bottom: 1px solid white;	

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(172,0,27,0.4) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(172,0,27,0.4)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(172,0,27,0.4) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(172,0,27,0.4) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(172,0,27,0.4) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(172,0,27,0.4) 100%);
}

table.admin tr.selected td {
	
} 
table.admin tr.selected td a {
	font-weight: bold;
	color: white
}


/* edit section */
div.manageSectionEdit {
    display: none;
}
div.manageSectionEdit div.error, 
div.manageSectionEdit div.success {
    max-width: 300px;
}
table.manageSection img {
	cursor: pointer;
}
div.edit {
	color: #3F3F3F;
	
	width: 300px;
	
	padding: 3px;
	margin-top: 5px;
	
	background: rgba(64, 64, 64, 0.05);
	
	border: 1px solid rgba(64, 64, 64, 0.0976562);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
table.edit {
	margin: auto;
}
table.edit td:nth-child(1), 
table.edit th:nth-child(1) {
	padding: 5px;
}
table.edit td {
    padding: 0px;
}
table.edit input[type=text] {
	border: 1px solid silver;
	background: white;
	padding: 3px;
}
table.edit th:nth-child(1) {
	text-align: left;
	padding-left: 0px;
	border-bottom: 1px solid white;
}


/* subnet maangement - edit subnet */
table.manageSubnets h3,
table.vlans h3,
table.devices h3,
table.switches h3 {
    margin: 0px;
    font-size: 12px;
    text-shadow: 1px 1px 2px white;
    
    cursor: pointer;
}
table.manageSubnets thead {
    border-top: 1px solid rgba(64, 64, 64, 0.1);
}
table.manageSubnets thead:nth-child(1) {
    border-top: none;
}
table.manageSubnets tbody {
    display: none;
}
table.manageSubnets tr.info {
	background: none;
}
table.manageSubnetEdit tr {
    width: 100%;
}
table.manageSubnets tr.th:hover td.info {
	color: #999;
	text-shadow: 1px 1px 2px white;
	font-size: 11px
}
table.manageSubnetEdit tr:hover td.info {
	color: #2E2E2E !important;
}
table.manageSubnetEdit tbody {
    display: table;
    width: 100%;
}
div.manageSubnetEditResult {
	display: none;
}
table.manageSubnets img {
	cursor: pointer;
}
table.manageSubnets tr.addNew td.info {
	color: #999;
	text-shadow: 1px 1px 2px white;
}
table.manageSubnets tr.masterSubnet {
	border-top: 1px dotted white;
}
table.manageSubnets tr.slaveSubnet td.subnet,
table.manageSubnets tr.slaveSubnet td.masterSubnet {
	padding-left: 30px;
}
table.manageSubnets tr.slaveSubnet td.edit {
	padding: 3px 5px;
}
table.manageSubnets tr.masterSubnet td.allowRequests,
table.manageSubnets tr.slaveSubnet td.allowRequests {
	text-align: center;
	padding: 0px;
}
table.manageSubnets td.lock {
	width: 16px;
	padding: 0px;
	background-image: url(images/lock.png);
	background-repeat: no-repeat;
}
table.manageSubnets tr.subSlaveSubnet td.subnet,
table.manageSubnets tr.subSlaveSubnet td.masterSubnet {
	padding-left: 50px;
}
table.manageSubnets tr.slaveSubnet td:nth-child(1),
table.manageSubnets tr.slaveSubnet td:nth-child(3) {
	background: url(images/subnetSlaveTdBG.png) repeat-y;
}
table.manageSubnets tr.subSlaveSubnet td:nth-child(1),
table.manageSubnets tr.subSlaveSubnet td:nth-child(3) {
	background: url(images/subnetSubSlaveTdBG.png) repeat-y;
}


/* instructions */
textarea#instructions {
	width: 710px;
	width: 100%;
	border: 1px solid silver;
}
div.hint {
	font-size: 11px;
	color: #666;
	text-shadow: 1px 1px 2px white;
	font-style: italic;
	padding-left: 10px;
}
div.instructions {		/* in tools */
	padding: 5px;
	padding-left: 10px;
	margin: 0px;
}
div.instructionsResult,
div.instructionsPreview {
	display: none;
}


/* user management - admin */
table.userPrint img {
	cursor: pointer;
}
div.userEditLoad {
    display: none;
}
div.userModResult {
    display: none;
}
table.userMod td {
	white-space: normal;
}
table.userMod td.info ul {
	margin: 0px;
	margin-top: 3px;
}
table.userMod td.info ul li {
	color: #999;
	text-shadow: 1px 1px 2px white;
	font-size: 11px;
}
table.userMod tr.hover td.info ul li {
	color: #2E2E2E;
}

/* IP requests admin */
div.manageRequestEdit {
	position: relative;
	display: none;
}
table.manageRequestEdit td:nth-child(1) {
	width: 100px;
	padding-right: 10px;
}
table.manageRequestEdit textarea {
	border: 1px solid silver;
	padding: 3px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
table.manageRequestEdit input[type=submit],
table.manageRequestEdit input[type=button] {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */	
	
	color: #444;
	text-shadow: none;
}
table.manageRequestEdit input[type=submit]:hover {
	background: #006b05; /* Old browsers */
	background: -moz-linear-gradient(top, #006b05 0%, #028907 56%, #03a015 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006b05), color-stop(56%,#028907), color-stop(100%,#03a015)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #006b05 0%,#028907 56%,#03a015 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #006b05 0%,#028907 56%,#03a015 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #006b05 0%,#028907 56%,#03a015 100%); /* IE10+ */
	background: linear-gradient(top, #006b05 0%,#028907 56%,#03a015 100%); /* W3C */
	
	color: white;
	text-shadow: 1px 1px 1px black;
}
table.manageRequestEdit input[type=button]:hover {
	background: rgb(109,0,25); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(56%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 56%,rgba(169,3,41,1) 100%); /* W3C */

	color: white;
	text-shadow: 1px 1px 1px black;	
}

/* AD */
table.ad td.info {
	white-space: normal;
}
form#ad table.ad td.base_dn input[type=text] {
	width: 500px;
}
form#ad table.ad td.port input[type=text] {
	width: 50px;
}
form#ad input[type=text] {
	width: 300px;
}
div.manageADresult {
	display: none;
}



/*******************
 login page
*******************/
input.login {
    width: 300px;
    padding: 5px;
    
    border: 1px solid #CCC;
    
    color: #8B8B8B;
    
    font-size: 14px;
    
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
table.login td.submit input.submit {
    width: auto;
/*     font-size: 13px; */
    color: white;
    text-shadow: 1px 1px 2px black;  
    padding-left: 15px;
    padding-right: 15px;

	-webkit-border-radius: 6px;
	-moz-border-radius:    6px;
	border-radius:         6px; 
	
	cursor: pointer;
}
table.login {
    margin: auto;
}
table.login th {
    text-align: left;
}
table.login td.submit {
    text-align: right;
}
div#login {
    background: white;
    
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    
    color: #2C2C2C;
    
    border: 1px solid #CED2D8;
    
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
    box-shadow:		    0px 0px 3px silver;
    -webkit-box-shadow: 0px 0px 3px silver;
    -moz-box-shadow: 	0px 0px 3px silver;
    
    overflow: hidden;
}
div.requestIP {
	width: auto !important;
	max-width: 450px;
}
div#contact {
    text-align: right;
    margin: auto;
    padding: 5px;
    padding-right: 30px;
    width: 320px;
}
div#contact a {
    color: #2C2C2C;
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
}
div#loginCheck {
    width: 320px;  
    margin: auto;
    margin-top: 10px;
}
div#loginCheck div.error, 
section#loginCheck div.success {
    text-align: center;
    padding: 5px;
}
div#demo {

	background: rgba(204,216,228,0.5);
	border: 1px solid silver;
	
	text-shadow: 1px 1px 1px white;

    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;	

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
    box-shadow:		    0px 0px 2px white;
    -webkit-box-shadow: 0px 0px 2px white;
    -moz-box-shadow: 	0px 0px 2px white;
}
table.demo {
	width: 100%;
	margin-bottom: 5px;
}
table.requestIP {
	margin: auto;
	white-space: normal;
}
table.requestIP th {
	font-weight: bold;
}
table.requestIP td:first-child {
	width: 100px;
	white-space: nowrap;
}
table.requestIP td.info {
	color: #E6E6E6;
	font-style: italic;
	white-space: normal;
}
table.requestIP tr:hover td.info {
	color: #444;
	font-style: normal;
}
table.login td.requestIP {
	text-align: right;
	vertical-align: top;
}

table.requestIP input[type=text] {
	padding: 3px;
}
table.requestIP td {
	padding: 2px;
	vertical-align: top;
}
table.requestIP input.backToLogin {

	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */	
	
	color: #222;
	text-shadow: 1px 1px 1px white;
	
	border: 1px solid #888;
}
table.requestIP input.backToLogin:hover {

	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* W3C */

}
table.requestIP th {
	text-align: left;
	font-size: 14px;
}
table.requestIP th.bottomBorder  {
	border-bottom: 1px solid #F2F2F2;
	padding-bottom: 5px;
}
table.requestIP td.submit {
	border-top: 1px solid #F2F2F2;
	vertical-align: middle;
}
table.requestIP tr.owner td {
	padding-bottom: 5px;
}
table.requestIP td.comment {
	padding-left: 0px;
}
table.requestIP textarea {
	border: 1px solid silver;
	padding: 3px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
table.requestIP div.backToLogin {
	margin-top: 5px;
	background: url(images/back.png) no-repeat;
	padding-left: 20px;
}
table.requestIP div.backToLogin:hover {
	background: url(images/backHover.png) no-repeat;
	padding-left: 20px;
}
table.requestIP div#requestIPresult {
	display: none;
}

/* switch management */
table.switchManagement td {
	border: none;
}
table.switchManagement td.actions {
	width: 10px;
}
table.switchManagement td img {
	cursor: pointer;
}
table.switchManagement td.description {
	white-space: normal;
}
div.switchManagementEdit {
	display: none;
}
div.switchManagementEdit2 {
	display: block;
	width: 300px;
}
form#switchManagementEdit textarea {
	border: 1px solid silver;
	padding: 5px;
	margin: 0px;

	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
}
div.switchSections {
	border: 1px solid white;
	margin: 2px;
	padding: 2px 5px;
	
	white-space: nowrap;

	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;

	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(100%,rgba(255, 255, 255, 0.9)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);

}
div.switchManagementEditResult {
	display: none;
}



/* VRF and VLAN management */
table.vrfManagement td.actions,
table.vlanManagement td.actions {
	width: 10px;
}
table.vrfManagement td.name,
table.vrfManagement td.rd,
table.vlanManagement td.name {
	width: 100px;
}
table.vrfManagement td img,
table.vlanManagement td img {
	cursor: pointer;
}
table.vrfManagement td.description,
table.vlanManagement td.description {
	white-space: normal;
}
div.vrfManagementEdit,
div.vlanManagementEdit {
	display: none;
}
div.vrfManagementEditResult,
div.vlanManagementEditResult {
	display: none;
}
div.vrfManagementEdit2 {
	display: block;
	width: 300px;
}

/* customIP */
table.customIP td {
	width: auto;
}
table.customIP td.img {
	width: 10px;
	cursor: pointer;
}
table.customIP td.name {
	width: 10px;
	white-space: nowrap;
	padding-right: 30px;
}

/*******************
	site footer
*******************/
body {
	height: 100%;
}
div.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}
div.pusher {
	height: 30px;
	clear: both;
}
div.footer {
	text-align: center;
	vertical-align: text-top;
	
	color: #D5D5D5;
	
	height: 20px;
	
	padding-top: 	5px;
	padding-bottom: 5px;

	background: rgb(41,51,57);
	background: -moz-linear-gradient(top,  rgba(41,51,57,1) 0%, rgba(29,36,41,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,51,57,1)), color-stop(100%,rgba(29,36,41,1)));
	background: -webkit-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
	background: linear-gradient(top,  rgba(41,51,57,1) 0%,rgba(29,36,41,1) 100%);
}
div.footer a {
	color: #D5D5D5;
}
table.donate {
	white-space: nowrap;
	margin: auto;
}
table.donate td {
	color: #D5D5D5;
	padding: 0px 10px;
	text-shadow: 1px 1px 1px black;
	border-left: 1px solid #D5D5D5;
}
table.donate td:nth-child(1) {
	border-left: none;
}


/*******************
	tools
*******************/
div.ipCalcResult {
    display: none;
}
table.ipCalcResult td:nth-child(1) {
    width: 200px;
}
table.ipCalcResult td:nth-child(2) {
    font-weight: bold;
}
table.asImport {
}
table.asImport td {
	padding: 3px 10px;
}
table.asImport td.img {
	padding: 3px 3px;
	cursor: pointer;
}

div.logs {
	margin-top: 8px;
}
#downloadLogs,
#clearLogs {
	cursor: pointer;
}


form#logs input[type=button] {

	background: #f6f8f9; /* Old browsers */

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 45%, rgba(211,211,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(45%,rgba(243,243,243,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 45%,rgba(211,211,211,1) 100%); /* W3C */
	
	color: black;
	text-shadow: none;
	
	padding: 2px 3px;
}
form#logs input[type=button]:hover {
	background: #f6f6f6;
}
table.logs tr {
	border-top:	   1px dotted white;
	border-bottom: 1px dotted white;
}
table.logs tr.th {
	border: none;
}
table.logs th.id,
table.logs th.date {
	text-align: center;
}
table.logs tr.Informational:hover {
    background: #defcde;
}
table.logs tr.Informational span {
	background: rgb(0,255,0);
	background: rgba(0,255,0,0.4);
}
table.logs tr.Notice:hover {
    background: #fcfce5;
}
table.logs tr.Notice span {
	background: rgb(255,165,0);	
	background: rgba(255,165,0,0.4);	
}
table.logs tr.Warning:hover {
    background: #ffdddd;
}
table.logs tr.Warning span {
	background: rgb(255,0,0);	
	background: rgba(255,0,0,0.4);
}
table.logs tr.hover {
	border-top:	   1px solid silver;
	border-bottom: 1px solid silver;
}
table.logs td {
	vertical-align: middle;
}
table.logs td.severity,
table.logs td.username {
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
table.logs td.severity span {
	padding: 3px 5px;
/* 	border: 2px solid silver; */
	
	color: gray;
	color: white;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	
	font-weight: bold;
	font-size: 11px;
	
	margin-right: 5px;

	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
	border-radius: 			4px;
}
table.logs td.username {
	text-align: center;
}
table.logs td.date,
table.logs td.id {
	width: 10px;
	color: silver;
	font-weight: bold;
	font-size: 11px;
}
table.logs td.command {
	white-space: normal;
}
table.logs td.detailed {
	width: 5px;
}
tr.vlanLink {
	cursor: pointer;
}
div.vlans {
	margin-bottom: 8px;
}
table.vlans tr.dashed,
table.switches tr.dashed {
	border-bottom: 1px dotted white;
}
table.vlans tr.dashed td,
table.switches tr.dashed td {
	text-shadow: 1px 1px 1px white;
	color: #444;
}
table.vlans tr.vlanLink th {
	background: transparent;
	border-bottom: none;
	font-weight: 800;
}
table.vlans tr.dashed:hover,
table.switches tr.dashed:hover {
	background: none;
}
table.vlans dd {
	text-align: left;
}
table.vlans td:nth-child(1) {
	width: 70px;
}
table.vlans tr.slaveSubnet td:nth-child(1) {
	width: 50px;
}
table.vlans td:nth-child(2) {
	width: 220px;
}
table.vlans tr.slaveSubnet td:nth-child(2) {
	width: 200px;
}
table.vlans td:nth-child(4),
table.vlans tr.slaveSubnet td:nth-child(4) {
	color: #888;
}
table.vlans tr.masterSubnet switches
table.vlans tr.slaveSubnet td,
table.vlans tr.slaveSubnet th {
	padding-left: 20px;
}
table.vlans td.lock,
table.vlans td.nolock,
table.vlans tr.slaveSubnet td.lock,
table.vlans tr.slaveSubnet td.nolock {
	width: 12px;
	padding: 2px;
}
table.vlans td.lock,
table.vlans tr.slaveSubnet td.lock {
	background-image: url(images/lock.png);
	background-repeat: no-repeat;
}
table.vlans tr.slaveSubnet td.allowRequests,
table.vlans td.allowRequests {
	padding: 3px 5px;
	text-align: center;
	width: 10px;
}
table.vlans tr.slaveSubnet td.used,
table.vlans tr.slaveSubnet td.free,
table.vlans td.used,
table.vlans td.free {
	padding-left: 10px;
/* 	font-style: italic; */
	color: #888;
}

/* switches */
table.switches tr {
	cursor: pointer;
}
table.switches tr.th,
table.switches tr h3 {
	cursor: default;
}
table.switches td.ip,
table.switches td.description {
	width: auto;
}
table.switches td.owner {
	width: 10px;
}
table.switches td.switch,
table.switches td.dns {
	width: 100px;
}
table.switches td.port {
	width: 50px;
}
table.switches td.note {
	width: 10px;
}

/* hosts */
table.hosts tr {
	cursor: pointer;
}
table.hosts tr.th {
	cursor: default;
}
table.hosts tr.new {
	border-top: 1px dashed white;
}
table.hosts td.note {
	width: 10px;
}


/*******************
	search table
*******************/
table.searchTable th {
	font-weight: bold;
	border-top: 1px solid white;
}
table.searchTable tr {
	cursor: pointer;
}
table.searchTable tr.th {
	cursor: default;
}
table.searchTable tr#searchHeader th {
	border-top: none;
}
table.search td.note {
	width: 1px;
}
input.search {
	background: white url(images/search.png) no-repeat 2px 3px;
	padding-left: 20px;
}


/* upgrade dbUpgrade */
table.dbUpgrade div {
	padding: 5px;
	font-size: 11px;
	background: white;
	border: 1px solid #999;

	-webkit-border-radius: 	6px;
	-moz-border-radius: 	6px;
	border-radius: 			6px;
}
table.dbUpgrade td.title {
	border-bottom: 1px dotted white;
}
table.dbUpgrade div {
	display: none;
}
table.dbUpgrade div.upgrade,
table.dbUpgrade div.error,
table.dbUpgrade div.success {
	display: block;
}
table.dbUpgrade div.error {
	color: rgba(255, 0, 0, 0.9);
	padding: 0px;
	margin: 0px;
	border: none;
	text-align: left;
}
table.dbUpgrade div.success {
	color: rgba(0, 255, 0, 0.9);
	padding: 0px;
	margin: 0px;
	border: none;
	text-align: left;
}
table.dbUpgrade input {
	margin: 5px 15px;;
}


/*******************
	common for all
*******************/
div.error {
	background: #f3dfe1;	/* non-rgba browsers */
	
	border: 1px solid red;
	border: 1px solid rgba(255, 0, 0, 0.199219);
	text-align: center;
	
/* 	background-image: url(images/add.png) no-repeat; */
	background-position: left center;
	padding-left: 20px;
	
	white-space: normal;
}
div.success {
	background: #E0F8E0; 	/* non-rgba browsers */
	background: rgba(0, 255, 0, 0.1);	
	
	border: 1px solid green;	/* non-rgba browsers */
	border: 1px solid rgba(0, 255, 0, 0.3);
	text-align: center;
}
div.error:before {
	content: url(images/close.png);
	padding-right: 5px;
}
div.success:before {
	content: url(images/infoAdd.png);
	padding-right: 5px;
}
div.warning {
	background: rgba(255, 255, 0, 0.2);	
	border: 1px solid rgba(255, 255, 0, 0.6);
	text-align: center;    
}
div.error, 
div.success, 
div.warning {
/* 	font-family: 'Droid Sans Mono', Courier; */

	color: #3F3F3F;
	
	padding: 3px;
	margin-top: 5px;
		
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
div.error pre, 
div.success pre, 
div.warning pre {
	background: none;
	background: rgba(255,0,0,0.1);
	margin-left: 20px;
	border: 1px solid rgba(255,0,0,0.3);
}
div.lock {
	background: url(images/lock.png) no-repeat rgba(255, 0, 0, 0.046875);
}
div.extError {
    text-align: left;
    width: 550px;
    margin: auto;
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
    
    z-index: 2;
    background-image: none;
}
div.extError li {
    margin-left: 140px;
}
div.extError img {
    float:left;
    padding:5px;
    padding-right:20px;
}

div.subnets, 
div.ipaddresses_overlay {
	background: rgba(64, 64, 64, 0.05);	
	border: 1px solid rgba(64, 64, 64, 0.1);
		
	color: #3F3F3F;
	
	padding: 3px 0px;
	margin-top: 5px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}
div.large {
	font-size: 13px;
	background-image: none;
	text-align: left;
	padding-left: 10px;
}


/*******************
	loading div
*******************/
div.loading {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
    
    display: none;
    
    left: 47%;
    top: 120px;
    
    padding: 10px;
    text-align: center;
    
    background: #494949;
	background: -moz-linear-gradient(top,  rgba(29,36,41,0.9) 0%, rgba(41,51,57,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,36,41,0.9)), color-stop(100%,rgba(41,51,57,0.7)));
	background: -webkit-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	border: 1px solid rgba(0,0,0,0.6);
	
	z-index: 999;
}

div.jqueryError {
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    
    text-align: center;
    
    z-index: 2;
    
    color: white;
}

/*******************
	tooltips
*******************/
.tooltipBottom,
.tooltipLeft,
.tooltipTop,
.tooltipTopDonate,
.tooltip,
.tooltipRightSubnets,
.tooltipRightSubnetsSlave {
	margin-left: 5px;
	padding: 5px 10px;
	color: white;

	background: -moz-linear-gradient(top,  rgba(29,36,41,0.9) 0%, rgba(41,51,57,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,36,41,0.9)), color-stop(100%,rgba(41,51,57,0.7)));
	background: -webkit-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);
	background: linear-gradient(top,  rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%);

	
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	border: 1px solid rgba(0,0,0,0.6);
}
.tooltipBottom {
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from( rgba(0,0,0,0.5) ), to( rgba(0,0,0,0.7) )) no-repeat;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.5) );
	
	background: -moz-linear-gradient(top, rgba(29,36,41,0.9) 0%, rgba(41,51,57,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,36,41,0.9)), color-stop(100%,rgba(41,51,57,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(29,36,41,0.9) 0%,rgba(41,51,57,0.7) 100%); /* W3C */	
	
	margin-top: 5px;
}
.tooltipLeft {
	margin-left: -5px;
}
.tooltipTop {
	margin-bottom: 2px;
}
.tooltipRightSubnets {
	margin-left: 20px;
}
.tooltipRightSubnetsSlave {
	margin-left: 0px;
}
.tooltip hr {
	padding: 0px;
	background: white;
	margin: 2px 0px;
	height: 1px;
	border: none;
}
.tooltipTopDonate {
	margin-top: -8px;
}